BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
SortIncludes: false
